*/.terraform
*.hcl
*.tgz
*.lock
install.txt
*.tfstate

/dist
/tmp
/out-tsc

# dependencies
*/node_modules

# IDEs and editors
*/.idea
*.project
*.classpath
*.c9/
*.launch
*.settings/
*.sublime-workspace

# IDE - VSCode
*.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
*npm-debug.log
*testem.log
/typings

# e2e
/e2e/*.js
/e2e/*.map

# System Files
.DS_Store
Thumbs.db

ssh-keys

# Helm chart dependencies
charts/
tmpcharts/

# Values files that may contain sensitive data or local configurations
*values.yaml
!values.yaml
values*.yaml
secrets.yaml

# Ignore saved Helm repository index files
**/index.yaml

# Ignore Helm packaging output
*.tgz

# Ignore any override files that might be used locally
override.yaml

# Mac OS file system files
.DS_Store

# Ignore IDE and editor folders
.idea/
.vscode/
*.swp